body {
  font-family: 'Segoe UI', sans-serif;
  background-color: white;

}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 0px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  border-radius: 10px 10px 10px 10px;


}

.container {
  display: flex;
}

.topbar-left {
  display: flex;
  align-items: center;
}

.topbar-logo {
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  color: #892e82;
}

.topbar-nav {
  display: flex;
  gap: 40px;
  align-items: center;

}

.topbar-nav a {
  font-family: 'jost', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 16px;
  margin: 0 10px;
  text-decoration: none;
  color: #892e82;
  letter-spacing: 1px;


}

.topbar-nav a:hover {
  color: #892e82;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 40px;
  color: #892e82;
}

.topbar-right a {
  color: #892e82;
  text-decoration: none;
  font-family: 'jost', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}


.search-wrapper {
  position: relative;
  display: inline-block;
}

.search {
  padding-left: 37px;
  /* espaço interno para o ícone */
  height: 34px;
  border: 1px solid #892e82;
  border-radius: 20px;
  font-family: 'Jost', sans-serif;
  font-size: 14px;
  background-color: white;
  color: #892e82;
}

.search::placeholder {
  color: #892e82;
}

.search:focus {
  border-color: #4b0c46;
  /* Borda mais escura ou diferente */
  box-shadow: 0 0 4px rgba(137, 46, 130, 0.4);
  outline: none;
}

/* Também muda a cor da lupa quando o input está focado */
.search:focus+.search-icon {
  color: #4b0c46;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #892e82;
  font-size: 14px;
  pointer-events: none;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-left: 20px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.user img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  padding-right: 5px;
}

.admin {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  /* Espaço vertical pequeno entre as linhas */
  font-size: 14px;
}

.admin strong {
  font-weight: bold;
}

.ad {
  font-size: 12px;
  color: #666;
  /* Opcional: tom de cinza para o email */
  margin-top: 2px;
  /* Ou 0 se quiser ainda mais colado */
}

/* ====== Sidebar ====== */
.sidebar {
  margin-top: 35px;
  top: 0;
  left: 0;
  width: 440px;
  background-color: #892e82;
  height: 77vh;
  padding: 26px;
  padding-top: 30px;
  border-radius: 10px 10px 10px 10px;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 15px 0px;
  text-decoration: none;
  font-size: 18px;
}

.sidebar a:hover {
  background-color: #4b0c46;
  border-radius: 5px;
  padding-left: 10px;
  color: white;
}

.sidebar nav a.active {
  background-color: #4b0c46;
  font-weight: bold;
}
.tabela-clientes {
  width: 100%;
  border-collapse: collapse;
  font-family: 'Jost', sans-serif;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  overflow: hidden;
  height: 100px;
}

.tabela-clientes thead {
  background-color: #892e82;
  color: white;
}

.tabela-clientes th,
.tabela-clientes td {
  padding: 4px 14px;
  text-align: left;
}

.tabela-clientes tbody tr:nth-child(even) {
  background-color: #f9f4fc;
  
}

.tabela-clientes tbody td {
  padding: 6px 14px !important;
}
.tabela-clientes tbody tr:hover {
  background-color: #f1e6f9;
  transition: background-color 0.3s ease;
  
}