body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f5e6f3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;

}

.retangulo form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* CENTRALIZA NA HORIZONTAL */
}

.retangulo {

    background-color: white;
    padding: 60px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: black;
    width: 400px;
    height: 500px;
}

.retangulo h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #892e82;
}

.retangulo label {

    margin-right: 30px;
}

.retangulo label,
.retangulo input {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    color: black;
}

.retangulo input {
    padding: 14px;
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    background-color: white;
    font-size: 15px;

}

.retangulo input:hover {
    color: #892e82;
    background-color: white;
}

.retangulo button {
    width: 100%;
    padding: 14px;
    background-color: #e782a0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    margin-top: 25px;
}

.retangulo button:hover {
    background-color: #892e82;
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
}

.t0 {
    font-size: 24px;
    color: black;
}

.t1,
.t2,
.t3,
.t4 {
    font-size: 15px;
    text-align: center;
    margin: 10px 0;
    color: black;
}

.t4 {
    font-weight: bold;
    text-decoration: none;
    color: #e782a0;
    cursor: pointer;
}

.t4:hover {
    color: #892e82;

}

a {
    text-decoration: underline;
    color: #e782a0;

}

a:hover {
    color: #892e82;
}



.criar-conta {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 10px;
    font-size: 14px;
    color: black;
}

.criar-conta .t4 {
    font-weight: bold;
    color: #e782a0;
    text-decoration: none;
}

.criar-conta .t4:hover {
    color: #892e82;
    text-decoration: underline;
}